@import './littlefoot.pcss';
/* Use one theme for both light and dark modes */
@import './prism-custom-shades-of-purple.pcss';

/* Other available themes */
/* Light */
/* @import './prism-material-light.pcss'; */
/* @import './prism-ghcolors.pcss'; */

/* Dark */
/* @import './prism-cobalt2.pcss'; */
/* @import './prism-dracula.pcss'; */
/* @import './prism-gruvbox-dark.pcss'; */
/* @import './prism-hopscotch.pcss'; */
/* @import './prism-shades-of-purple.pcss'; */
