{# Favicon based on: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
<link rel="icon" href="{{ '/static/favicons/favicon.ico?v=1' | url }}" sizes="any">
<link rel="icon" href="{{ '/static/favicons/icon.svg?v=1' | url }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ '/static/favicons/apple-touch-icon.png?v=1' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">

{% include "seo.njk" %}
