{# TODO: add dark theme #}
<div class="md:max-w-5xl container">
  <div class="newsletter md:my-10 py-6 mx-auto my-6 text-center border rounded">
    <h3 class="newsletter__header">Don't miss new articles</h3>
    <form action="https://switowski.us20.list-manage.com/subscribe/post?u=f81d37fa431a4ffc7576bd589&amp;id=a49ec9f898" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
      <div class="flex flex-wrap items-center justify-center my-4">
        <div class="md:w-1/3 md:mb-0 w-full px-3 mb-6">
          <input class="block w-full px-4 py-3 text-sm leading-tight text-gray-900 border border-gray-200 rounded-md shadow-sm appearance-none" type="text" value name="FNAME" placeholder="Your name (optional)">
        </div>
        <div class="md:w-1/3 md:mb-0 w-full px-3 mb-6">
          <input class="block w-full px-4 py-3 text-sm leading-tight text-gray-900 border border-gray-200 rounded-md shadow-sm appearance-none" type="email" value name="EMAIL" placeholder="Your email" required>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f81d37fa431a4ffc7576bd589_a49ec9f898" tabindex="-1" value=""></div>
        <div class="md:w-auto md:mb-0 w-full px-3 mb-3">
          <button data-umami-event="Newsletter signup button click" class="text-white font-bold bg-blue-600 hover:bg-blue-700 text-sm w-full rounded sm:w-auto px-5 py-2.5 text-center" type="submit" name="subscribe">Subscribe</button>
        </div>
      </div>
    </form>
    <div class="newsletter--no_mb opacity-80 text-sm">
      <p class="newsletter--no_mb mb-1">No spam, unsubscribe with one click.</p>
    </div>
  </div>
</div>
