/* https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './variables.pcss';
@import './base.pcss';
@import './utilities.pcss';
@import './components.pcss';
@import './layout.pcss';
@import './sections.pcss';
@import './pages.pcss';

@import './vendors/index.pcss';
