---
layout: base
---
<article class="post container">
  <header class="post__header">
    <h1 class="post__title">{{ title }}</h1>
    <div class="post__meta">
      <div class="flex">
        <span class="mr-2">{% feather "calendar" %}</span>
        <time datetime="{{ date | formatDate('yyyy-LL-dd') }}">{{ date | formatDate('dd LLL yyyy')}}</time>
        {% if updated %}
          <span class="ml-2">(Updated: <time datetime="{{ updated | formatDate('yyyy-LL-dd') }}">{{ updated | formatDate('dd LLL yyyy')}}</time>)</span>
        {% endif %}
      </div>
      <div class="flex">
        <span class="mr-2">{% feather "clock" %}</span>
        <span>{{ content | timeToRead }} read</span>
      </div>

      {% if tags %}
        <div class="post__tags flex flex-wrap">
          <span class="mr-2">{% feather "tag" %}</span>
          {% for tag in tags %}
            <a href="/tags/{{tag | slugify}}" class="tag-badge">#{{tag}}&nbsp;</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </header>
  <div class="post__content article">
    {{ content | safe }}
  </div>
</article>

{%- include "components/newsletter.njk" -%}

{# About me #}
<!--
  <div class="about-me md:flex-row md:mb-8 container flex flex-col items-center mb-4">
  <div class="md:mr-6 mx-auto">
    {% image '_assets/images/me2.png' %}
  </div>
  <div class="flex-1">
    {# TODO: This text should be much shorter or remove this section completely? #}
    <p class="mb-4">
    Hi, I'm Sebastian. I write and speak about Python - how to write better code, what cool tools and libraries I've found, and what tips & tricks make my life easier. I also write about other things like freelancing, side-hustles and whatever else I find interesting in a given moment.
    </p>
    <p class="mb-4">
    Check out my latest series called <a href="/blog/writing-faster-python-intro">Writing Faster Python</a>, where I benchmark different code structures and give unsolicited advice on when to use them. If you also <em>"live in the terminal"</em>, check out my favorite <a href="/blog/favorite-cli-tools">CLI tools</a>. And if you use a Mac, check the <a href="/blog/favorite-mac-tools">Mac apps</a> that I use.
    </p>
    <p class="mb-4">
    When I'm not blogging, I help companies make the best out of Python - either through my <a href="/courses">online courses</a> or <a href="/consulting">consulting services</a>.
    </p>
  </div>
</div>
-->

{# Similar posts/Tags #}
<div class="md:flex-row flex flex-col max-w-4xl px-4 mx-auto">
  <div class="md:w-2/3">
    {# If there are similar articles specified, display them. Otherwise display 3 articles with at least 1 tag in common. #}
    {% if similar %}
      {% set similar = collections.posts | filterSimilar(similar) %}
    {% else %}
      {% set similar = collections.posts | generateSimilar(page.inputPath, tags) | shuffle %}
    {% endif %}

    {# If current post doesn't have any tags, display 3 latest articles instead #}
    {% if similar | length %}
      <h4 class="text-2xl text-center">Similar posts</h4>
    {% else %}
      {% set similar = collections.posts | reverse | limit(3) %}
      <h4 class="text-2xl text-center">Recent posts</h4>
    {% endif %}

    {% for similarPost in similar | limit(3) %}
      <div class="sm:flex-nowrap flex flex-wrap mb-6">
        <div class="sm:w-auto flex w-full mt-2">
          <div class="similar-post-thumbnail">
            {% if similarPost.data.image %}
              <a href="{{ similarPost.url | url }}" title="{{ similarPost.data.title }}">
                {% image similarPost.filePathStem | replace("index", similarPost.data.image), similarPost.title, '', '', "(max-width: 639px) calc(100vw - 32px), 150px" %}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="sm:w-auto w-full">
          <a href="{{ similarPost.url | url }}" title="{{ similarPost.data.title }}">
            <h5 class="sm:text-base text-lg">{{similarPost.data.title}}</h5>
          </a>
          <p class="text-sm">{{ similarPost.data.description }}</p>
          <time class="dim-text text-xs">{{ similarPost.date | formatDate('dd LLL yyyy') }}</time>
        </div>

      </div>
    {% endfor %}
  </div>
  <div class="md:w-1/3">
    <h4 class="text-2xl text-center">Tags</h4>
    {% for tag in collections.tags %}
      <a class="tag-badge p-1 text-sm" href="/tags/{{tag | slugify}}">#{{tag}}</a>
    {% endfor %}
  </div>
</div>

<hr class="divider my-8"/>

{# Previous/next post #}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<div class="container flex justify-between mb-8">
  <div class="w-1/2">
    {% if previousPost %}
      <div class="dim-text ml-3 text-xs">Previous:</div>
      <a class="simple-link hover-primary" href="{{ previousPost.url }}" title="{{ previousPost.data.title }}">
        <span class="flex items-center font-bold">
          {% feather "chevron-left" %}
          {{ previousPost.data.title }}
        </span>
      </a>
    {% endif %}
  </div>
  <div class="w-1/2 text-right">
    {% if nextPost %}
      <div class="dim-text mr-3 text-xs">Next:</div>
      <a class="simple-link hover-primary" href="{{ nextPost.url }}" title="{{ nextPost.data.title }}">
        <span class="flex items-center justify-end font-bold">

          {{ nextPost.data.title }}
          {% feather "chevron-right" %}
        </span>
      </a>
    {% endif %}
  </div>
</div>

{# TODO: comments: plug https://github.com/giscus/giscus #}
<div class="alternatebg">
  <div class="container">
    <h4>Comments</h4>
    <div class="pb-24"></div>
  </div>
</div>
