---
layout: page
permalink: /about/
eleventyNavigation:
  key: About
  order: 5
---

<div class="container">
  <h1 class="mb-6">About</h1>
  <div>
    <div class="article">
      <p>My name is Sebastian Witowski and I'm an independent Python consultant, freelancer, and international speaker based in Poland.</p>
      <div class="md:w-1/2 w-full mx-auto">
        {%- image '_assets/images/me-talking-ep2022.jpg', 'Me speaking at EuroPython 2022 conference', '', 'rounded-3xl' -%}
      </div>
      <p>I've been working mostly with Python for over 10 years. At first, I started as a software developer at CERN, where I helped build CERN Document Server - a digital library for all the publications produced at CERN. Shortly after that, I switched to consulting. My recent clients come from the financial or energy trading industries, and those are the industries I'm currently focusing on.</p>
      <p>Check out the <a href="/consulting">consulting</a> page for a few things I can help you with, including web development, setting up ETL pipelines, or internal workshops.</p>
      <p>Or visit my <a href="{{site.social.linkedin.url}}">LinkedIn</a> profile for more details on my past projects.</p>
    </div>
    <div class="w-full rounded"></div>
  </div>
</div>
<div class="container">
  <h2 class="my-6">After work</h2>
  <div class="article">
    <p>When I don't work, I play video games. I'm a huge fan of From Software games, with my favorite one being "Dark Souls 2". It was my gateway drug to the genre, so suck it up haters.</p>
    <p>During the winter, I go snowboarding. During the summer, I do enduro biking and (recently) surfing. And all year round, I do powerlifting. On the 15th of December 2017, I joined the 1000-pound club. </p>
    <div class="w-full mx-auto">
      {%- image '_assets/images/peru.jpg', 'Staring at the rainbow mountain', '', 'rounded-3xl' -%}
    </div>
    <p>I like to travel, and I like to talk at conferences. I've had the pleasure to present at the following large conferences: EuroPython, PyCon Australia, PyCon India, PyCon Italia, PyCon Japan, PyCon Hong Kong, PyCon Sweden, PyCon Taiwan, PyCon US (remotely). Plus a lot of other, smaller conferences and meetups.</p>
    <p>I often tinker with my laptop's setup and optimize the way I work. I documented my favorite <a href="/blog/favorite-cli-tools">CLI tools</a> and <a href="/blog/favorite-mac-tools">Mac apps</a>, although both posts need an update (they were written in 2020). I still need to write about new tools that I'm very happy with, like the Obsidian knowledge management app or an n8n.io instance that I'm using to automate various chores. If you want to learn about the tools I used to build this website or how I work, check out the <a href="/colophon">colophon</a>.</p>
  </div>

  {# Contact form #}
  <h2 class="mt-12 mb-4" id="contact">Contact me</h2>
  <p class="mb-6">Would you like to work with me, have me speak at your conference or just say "hi"?<br>
  Fill out this form or <a href="mailto:sebastian@switowski.com">drop me a line</a>.</p>
  {% include "components/contactForm.njk" %}
</div>
