---
layout: page
eleventyExcludeFromCollections: true
permalink: /thanks/
---

<div class="container text-center">
  <h1 class="mb-8">Thanks!</h1>
  <div class="text-lg leading-relaxed">
    <p>I will answer as soon as possible.</p>
    <p>
      <a href="/">Go back to the home page</a>
    </p>
  </div>
</div>
