---
layout: page
permalink: /workshops/
---

<div class="container">
  <h1 class="mb-4">Workshops</h1>
  <p>Workshops are currently suspended until further notice. If you need a custom Python workshop for your company, you can still get in touch.</p>
</div>
